@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  --custom-white: #f6f6f6;
  --custom-grey: #becdd4;
  --custom-pink: #f2cabf;
  --custom-orange: #e8b56d;
  --custom-brown: #b8786c;
}
  
header {
  background-color: var(--custom-pink);
}

footer {
  background-color: var(--custom-grey);
}

body {
  background-image: url("./assets/rm245-bb-62.jpg");
  background-size:cover;
  font-family: 'Nanum Gothic', sans-serif;
}

main {
  margin: 5%;
  min-height: 80vh;

}

.nav-link{
  color: var(--custom-gray);
}

.nav .active {
  color: var(--custom-brown);
  background-color: var(--custom-white);
  border-radius: 40%;
}

.nav :hover {
  color: var(--custom-brown);
  text-decoration: inherit;
}

#profile_photo{
  max-width: 50%;
  max-height: 50%;
  border-radius: 40%;
  border: 10px solid var(--custom-orange);
}

.card{
  border: 3px solid var(--custom-white);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.error-text {
  color: red;
}

#resume-download{
  background-color: var(--custom-pink);
}

#resume-download:hover{
  filter: brightness(95%);
}